$primary-green: #275;
$secondary-green: lighten($primary-green, 10%);
$alternate-green: #209e08;

$primary-brown: #836539;
$secondary-brown: lighten($primary-brown, 10%);

$baseball-field-height: 700px;
$baseball-field-width: 700px;

$scoreboard-color: #275;