.btn {
    font-size: 1.3em;
    padding: 5px;
}

.text-center {
    text-align: center;
}

.white-circle {
    background-color: #fff;
    border-radius: 50%;
    display: table-cell;
    width: 5px;
    height: 5px;
    position: relative;
    vertical-align: middle;
}